# Interacciones

## 1. Unión de datos de navegación

In [2]:
import pandas as pd

# Cargar los dataframes desde los archivos de texto
df1 = pd.read_csv('../data/raw/df_final_web_data_pt_1.txt')
df2 = pd.read_csv('../data/raw/df_final_web_data_pt_2.txt')

# Concatenar los dataframes
df_final = pd.concat([df1, df2], ignore_index=True)

# Mostrar el dataframe concatenado
df_final.columns # 755405 rows x 1 columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [2]:
df_final.to_csv('../data/processed/navegacion.csv', index=False)

## 2. Unión de clientes a sus grupos de experimento

In [ ]:
# 1. Carga de datos
df_experimento = pd.read_csv("../data/raw/df_final_experiment_clients.txt")
df_clientes = pd.read_csv("../data/processed/clients.csv")

# 2. Unir ambos DataFrames usando la columna 'client_id'
df_unido = pd.merge(
    df_clientes, 
    df_experimento, 
    on="client_id",    # columna clave
    how="inner"        # tipo de join (inner, left, etc.). Usualmente inner.
)

# 3. Guardar resultado en un nuevo CSV (sin índice)
# df_unido.to_csv("../data/processed/clients_experiment.csv", index=False)

# 4. Visualizar primeras filas para confirmar
df_unido.head()

## 3. Unión navegación a clientes

Se ponen los datos de navegación a la izquierda porque son los importantes para el análisis. Conservar los `visit_id` es lo más importante. Tendremos `client_id` repetidos pero no importa. Siempre podrán ser agrupados por `client_id`.

In [3]:
# 1. Cargar los CSV
df_navegacion = pd.read_csv("../data/processed/navegacion.csv")
df_clientes_exp = pd.read_csv("../data/processed/clients_experiment.csv")

# 2. Hacer el merge en client_id
df_final = pd.merge(
    df_navegacion,
    df_clientes_exp,
    on="client_id",
    how="inner"  # usualmente 'inner' en un A/B test
)

# 3. Guardar el resultado en un nuevo CSV
df_final.to_csv("../data/processed/navegacion_clientes_experimento.csv", index=False)

# 4. Revisar la forma y las primeras filas
print(df_final.shape)
df_final.head()

C:\Users\jesus\AppData\Local\Temp\ipykernel_24936\1620037945.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_clientes_exp = pd.read_csv("../data/processed/clients_experiment.csv")

(422564, 14)

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5,64,79.0,U,2,189023.86,1,4,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5,64,79.0,U,2,189023.86,1,4,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5,64,79.0,U,2,189023.86,1,4,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5,64,79.0,U,2,189023.86,1,4,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5,64,79.0,U,2,189023.86,1,4,Test